/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  height: 100vh;
  background-image:
    radial-gradient(circle at 80% 30%, rgba(255, 0, 0, 0.6), transparent 40%),
    linear-gradient(135deg, #000000 20%, #2b0000 50%, #5a0000 80%, #ff0000 100%);
  background-blend-mode: screen;
}
